---
interface Props {
  size?: number;
  class?: string;
}

const { size = 60, class: className = "" } = Astro.props;
const half = size / 2;
---

<div class:list={["relative", className]} style={`width: ${size}px; height: ${size}px;`}>
  <div class="iso-cube absolute inset-0" style={`width: ${size}px; height: ${size}px;`}>
    <!-- Top face -->
    <div
      class="iso-face-top absolute"
      style={`width: ${size}px; height: ${size}px; transform: translateZ(${half}px);`}
    />
    <!-- Front face -->
    <div
      class="iso-face-left absolute origin-bottom"
      style={`width: ${size}px; height: ${size}px; transform: rotateX(-90deg) translateZ(${half}px);`}
    />
    <!-- Right face -->
    <div
      class="iso-face-right absolute origin-right"
      style={`width: ${size}px; height: ${size}px; transform: rotateY(90deg) translateZ(${half}px);`}
    />
  </div>
</div>
